<form>

	<h1>Organization Contact Information</h1>

	<p>Please provide the following information for the person(s) you wish to contact:</p>

	<input type="text" name="organizationName" placeholder="Organization Name"><br>
	<input type="text" name="departmentName" placeholder="Department Name"><br>
	<input type="text" name="contactFirstName" placeholder="First Name"><br>
	<input type="text" name="contactLastName" placeholder="Last Name"><br>
	<input type="text" name="contactPositionTitle" placeholder="Position Title"><br>
	<input type="tel" name="workContactNumber" placeholder="Work Number"><br>
	<input type="tel" name="departmentContactNumber" placeholder="Department Number"><br>	
	<input type="email" name="contactEmail" placeholder="Email"><br>

</form>