
#wrap {min-height: 100%;}

#footer {
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear:both;
}

/*footer {*/
    /*margin-top: 45px;*/
    /*padding-top: 5px;*/
    /*border-top: 1px solid #f5f5f5;*/
    /*color: #f5f5f5;*/
/*a {*/
    /*color: #333333;*/
/*&:hover {*/
     /*color: #2aabd2;*/
 /*}*/
/*}*/
/*small {*/
    /*float: left;*/
/*}*/
/*ul {*/
    /*float: right;*/
    /*list-style: none;*/
/*li {*/
    /*float: left;*/
    /*margin-left: 15px;*/
/*}*/
/*}*/

/*}*/